.intro-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-title,
.intro-underscore {
    font-family: 'Source Code Pro', monospace;
    color: #14c914;
    font-size: 40px;
    display: inline-block;
    height: 12px;
}

.intro-underscore {
    font-weight: 900;
    animation: flash ease 1800ms infinite;
    user-select: none;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
}