:root {
    --background: #20222b;
    --primary: #14ad42;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: var(--primary);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    color: var(--primary);
    font-size: 30px;
}

hr {
    border: 1px solid #383838;
    margin: 0 50px;
}